<nav class="navbar navbar-dark bg-dark text-light">
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard-index' %}">Home</a>
            </li>
            <li class="nav-item"> 
                <div class="dropdown">
                  <a class="nav-link dropdown-toggle" href="{% url 'dashboard-formations' %}" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Formations
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Elementaire</a></li>
                    <li><a class="dropdown-item" href="#">Premier Cycle</a></li>
                    <li><a class="dropdown-item" href="#">Seconde Cycle</a></li>
            </ul>
                </div>
 
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard-orientions' %}" >Orientations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard-forums' %}">Forums</a>
              </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'dashboard-activites' %}">Activités</a>
            </li>
        </ul>
       
    </div>
</nav>