<nav class="navbar navbar-dark text-light" style="background-color: #cccccc;">
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'dashboard-index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'dashboard-type' %}" >Formations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'dashboard-orientions' %}" >Orientations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="{% url 'dashboard-forums' %}">Forums</a>
              </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'dashboard-activites' %}">Activités</a>
            </li>
        </ul>
      
    </div>
</nav>