{% extends 'partials/base.html' %}

		{%block title %} Les formations {%endblock%}

		{% block content %}
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<br/>
					</div>
				</div>
	
				
		

				<div class="row">
					{% for cour  in  cours %}
					<div class="col-sm-6">

						<div class="card" style="width: 18rem;">
							<img class="card-img-top" src="..." alt="Card image cap">
							<div class="card-body">
							  <h5 class="card-title">{{cour.libelle}}</h5>
							  <p class="card-text">{{cour.description}}</p>
							  <a href="{% url 'dashboard-cour' cour.id %}" class="btn btn-primary">Go somewhere</a>
							</div>
						  </div> 

					  
					 
					</div>
					{% endfor %}
					
				  </div>
			</div>
		{%endblock%}